<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Incompleto – Surferbot</title>
    <meta name="description" content="Telegram bot for the Surf Club event" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="Spinner"></div>
    <div class="Content js-content"></div>
  </body>

  <script type="text/javascript">
    setTimeout(function() {
      window.location.reload(1);
    }, 8000);
  </script>
</html>
