@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f8d946;
  font-family: "IBM Plex Sans", -apple-system, sans-serif;
  font-weight: 300;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #000;
}

body.is-shaking {
  animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 40px;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.Link {
  font-size: 1.8em;
  opacity: 0;
  transition: margin 250ms ease-in-out, height 250ms ease-in-out,
    opacity 800ms ease-in-out;
}
.Link__title {
  font-weight: 500;
  color: #000;
}
.Link__username {
  font-weight: 300;
  font-size: 0.8em;
  opacity: 0.5;
}
.Link__description {
  font-weight: 300;
  line-height: normal;
}
.Link__content {
  margin: 0 0 16px;
}
.Link.is-visible {
  margin: 0 0 2em 0;
}

.is-visible {
  opacity: 1;
}

.Spinner {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 24px;
  top: 24px;

  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid #fff;
  animation: spin 0.8s infinite linear;

  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease-in-out;
}

.Spinner,
.Spinner:after {
  border-radius: 50%;
}

.is-loading .Spinner {
  opacity: 1;
  visibility: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}

@media only screen and (max-width: 640px) {
  .Content {
    width: 100%;
    padding: 30px;
  }
}
